@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #1c1c1c;
}

.glass-effect {
	background-color: rgb(0, 0, 0, 0.7); /* Cor de fundo com transparência */
	backdrop-filter: blur(10px); /* Efeito de desfoque */
	border: 1px solid #27272a; /* Borda sutil */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.border {
	border: 1px solid #27272a;
	background-color: #000000;
}

.border2 {
	border: 1px solid #e4e4e4;
	background-color: transparent;
}


.color{
	color: white;
}
